<div class="sign_form mt4">
    <div class="ui-g">
        <div class="ui-md-4"></div>
          <div class="ui-md-4">
              <div class="myhead center">
                <h1>Forgot Password</h1>
              </div>
              <div class="form_box  fit bg-fa p2 shadow">
                <p class="pl1">Enter your registered email </p>
                 <div class="ui-g">
                   <div class="ui-md-3">
                    <p class="mt1">Email Id :</p>
                   </div>
                   <div class="ui-md-9">
                      <span class="ui-float-label">
                          <input id="float-input" type="text" class=" wd-100" pInputText>
                          <label for="float-input">eg.user@gmail.com </label>
                      </span>
                   </div>

                  </div>

                  <div class="center" >
                      <small><a [routerLink]="['/login']" routerLinkActive="active" class="mx1">&#8592; Back</a></small>
                      <p-button class="m2" label="Send OTP" ></p-button>
                    </div>
              </div>
          </div>
        <div class="ui-md-4"></div>
    </div>
  </div>
