<div class="fit center">
  <p-panel header="Sign in" class="inline-block mx-auto left-align">
    <span class="ui-float-label m3">
      <input id="float-input-username" type="text" style="width:100%" required minlength="4" pInputText>
      <label for="float-input-username">Username</label>
    </span>
    <span class="ui-float-label m3">
      <input id="float-input" type="password" style="width:100%" pPassword required minlength="4"/>
      <label for="float-input">Password</label>
    </span>

    <div class="inline-block float-right">
      <a [routerLink]="['/register']" routerLinkActive="active" class="mx1">Register</a>
      <a [routerLink]="['/forgot-password']" routerLinkActive="active" class="mx1">Forgot Password</a>
    </div>

    <div class="ui-toolbar-group-right" style="display: contents;">
      <p-button class="m2" label="Login" (onClick)="login()"></p-button>
    </div>
  </p-panel>
</div>